SETLIST {
    background-image: url("pic.jpg") no-repeat center;
    /* background-size: cover; */
    width: 100%;
    font-family:'Courier New', Courier, monospace;
}
SONG { 
    display: block;
    font-size: 50px;
}
ARTIST, TITLE, GENRE, YEAR {
    display:block;
    font-size: 30px;
}
