SETLIST {
    background: url('pic.jpg') no-repeat center;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}
SONG { 
    display: block;
}
ARTIST {
    display:block;
    font-size: 100%;
}
TITLE {
    display:block;  
}
