SETLIST {
    background-image: url("pic.jpg") no-repeat center;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}
SONG { 
    display: block;
    font-size:large;
}
ARTIST {
    display:block;
}
TITLE {
    display:block;  
}
